# Assignment 9
## Due June 26th
### names:

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from numpy import linalg as LA
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.svm import SVC
from sklearn.datasets import load_breast_cancer
from scipy.stats import expon
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.linear_model import LinearRegression, LogisticRegression
import networkx as nx

np.random.seed(42)

## Exercise 1

In [2]:
X, y = load_breast_cancer(return_X_y=True)
shuffled_idx = np.random.permutation(len(X))
X, y = X[shuffled_idx], y[shuffled_idx]
len_test = len(X) // 3 * 2
X_train, X_test = X[:len_test], X[len_test:]
y_train, y_test = y[:len_test], y[len_test:]

In [3]:
parameters = {'C':[0.01, 0.1, 1, 10, 100],
              'gamma': [0.01, 0.1, 1, 10, 100]}

In [5]:
param_dist = {'C': expon(), 'gamma': expon()}

## Exercise 2

### a)

In [60]:
def MDS(D, d):
    pass

### b)

In [61]:
eurocity_dataframe = pd.read_csv('eurocity.csv', index_col=0, header=0)
eurocity_dataframe

,Athens,Barcelona,Brussels,Calais,Cherbourg,Cologne,Copenhagen,Geneva,Gibraltar,Hamburg,...,Lisbon,Lyons,Madrid,Marseilles,Milan,Munich,Paris,Rome,Stockholm,Vienna
Athens,0,3313,2963,3175,3339,2762,3276,2610,4485,2977,...,4532,2753,3949,2865,2282,2179,3000,817,3927,1991
Barcelona,3313,0,1318,1326,1294,1498,2218,803,1172,2018,...,1305,645,636,521,1014,1365,1033,1460,2868,1802
Brussels,2963,1318,0,204,583,206,966,677,2256,597,...,2084,690,1558,1011,925,747,285,1511,1616,1175
Calais,3175,1326,204,0,460,409,1136,747,2224,714,...,2052,739,1550,1059,1077,977,280,1662,1786,1381
Cherbourg,3339,1294,583,460,0,785,1545,853,2047,1115,...,1827,789,1347,1101,1209,1160,340,1794,2196,1588
Cologne,2762,1498,206,409,785,0,760,1662,2436,460,...,2290,714,1764,1035,911,583,465,1497,1403,937
Copenhagen,3276,2218,966,1136,1545,760,0,1418,3196,460,...,2971,1458,2498,1778,1537,1104,1176,2050,650,1455
Geneva,2610,803,677,747,853,1662,1418,0,1975,1118,...,1936,158,1439,425,328,591,513,995,2068,1019
Gibraltar,4485,1172,2256,2224,2047,2436,3196,1975,0,2897,...,676,1817,698,1693,2185,2565,1971,2631,3886,2974
Hamburg,2977,2018,597,714,1115,460,460,1118,2897,0,...,2671,1159,2198,1479,1238,805,877,1751,949,1155
Hook of Holland,3030,1490,172,330,731,269,269,895,2428,550,...,2280,863,1730,1183,1098,851,457,1683,1500,1205
Lisbon,4532,1305,2084,2052,1827,2290,2971,1936,676,2671,...,0,1178,668,1762,2250,2507,1799,2700,3231,2937
Lyons,2753,645,690,739,789,714,1458,158,1817,1159,...,1178,0,1281,320,328,724,471,1048,2108,1157
Madrid,3949,636,1558,1550,1347,1764,2498,1439,698,2198,...,668,1281,0,1157,1724,2010,1273,2097,3188,2409
Marseilles,2865,521,1011,1059,1101,1035,1778,425,1693,1479,...,1762,320,1157,0,618,1109,792,1011,2428,1363
Milan,2282,1014,925,1077,1209,911,1537,328,2185,1238,...,2250,328,1724,618,0,331,856,586,2187,898
Munich,2179,1365,747,977,1160,583,1104,591,2565,805,...,2507,724,2010,1109,331,0,821,946,1754,428
Paris,3000,1033,285,280,340,465,1176,513,1971,877,...,1799,471,1273,792,856,821,0,1476,1827,1249
Rome,817,1460,1511,1662,1794,1497,2050,995,2631,1751,...,2700,1048,2097,1011,586,946,1476,0,2707,1209
Stockholm,3927,2868,1616,1786,2196,1403,650,2068,3886,949,...,3231,2108,3188,2428,2187,1754,1827,2707,0,2105
Vienna,1991,1802,1175,1381,1588,937,1455,1019,2974,1155,...,2937,1157,2409,1363,898,428,1249,1209,2105,0

### c)

In [139]:
train_df = pd.read_csv('USPS.csv', sep='\t',)
X = train_df.drop(['Label'], axis=1).as_matrix()
y = train_df['Label'].as_matrix()
idx = np.any([y == 0, y == 3, y == 6, y == 9], axis=0)
X = X[idx]
y = y[idx]

# Exercise 3)

### a)

In [141]:
def isomap(D, k, d):
    pass

### b)